
.bb{
    background-color: #F5F5F5;
}
.baner-s-tatle{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: bold;
    font-display: 50%;
}
.baner-title{
    font-size: 56px;
  color: #0E0E0E;
  font-weight: bold;
}
.btn-parimary{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    padding: 17px 34px;
    border: none;
}
.btn-parimary:hover{
    background-color: #c715c7;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 160px;
    background-color: #C6E4D6;
    width: 1280px;
    border-radius: 24px;
    gap: 64px;
    height: 560px;
    
}
.banner-contant{
    padding: 117px 0px 117px 59px;
    max-width: 622px;
}
.profile-pic{
    width: 474.03px;
    padding: 80px 60px 80px 0px ;
}
.section-tatle{
    color: #0E0E0E;
    margin: 80px 160px 0px 160px;
    font-size: 40px;
}
.sec-desction{
    color: #0E0E0E;
    margin: 24px 160px 32px 160px;
    font-size: 16px;
}
.holdbar-child{
    display: flex;
    gap: 24px;
    padding: 32px 160px;
}

.child1{
    width: 410px;
    border-radius: 16px;
    background-color: #b4c6e6;
    padding: 32px;
    box-shadow: 0px 6px 4px 0px #000000;
}
.child2{
    width: 410px;
    border-radius: 16px;
    background-color:#C6E4D6;
    padding: 32px;
    box-shadow: 0px 6px 4px 0px #000000;
}
.child3{
    width: 410px;
    border-radius: 16px;
    background-color: #F7EBCF;
    padding: 32px;
        box-shadow: 0px 6px 4px 0px #000000;
}


.child-title{
    font-size: 20px;
    color: #0E0E0E;
}
.child-desction{
font-size: 16px;
color: #0E0E0E;
}
.btn1{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #5490F5;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.btn1:hover{
    background-color: #eeeb56;
}
.btn2{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color:#09A15C;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.btn2:hover{
    background-color: #e023a1;
}
.btn3{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color:#FFC239;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.btn3:hover{
    background-color: #27adce;
}
.card01{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    padding: 80px 0px 0px 160px;
}
.card-drcetion{
    font-size: 16px;
    font-weight:regular ;
    color: #0E0E0E;
    padding: 0px 0px 32px 160px;
}
.hcard{
    display: flex;
    gap: 32px;
    margin: 32PX 160PX 24PX 160PX;
    background-color: #FFFFFF;
    /* max-width: 1280PX; */
    border-radius: 24PX;
}
.limg{
    width: 408px;
    height: 306px;
    border-radius:24px;  
    margin: 48px 0px 48px 48px;  

}
.text-dct{
    width: 744px;
    padding: 56px 48px 56px 0px;
}
.r-btn{
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px ;
    font-weight: bold;
    color: #FFFFFF;
    padding: 13px 26px;
    border: none;
}
.r-btn:hover{
    background-color: #1c38da;
}


.card2{
    display: flex;
    gap: 32px;
    margin: 0PX 160PX 0PX 160PX;
    background-color: #FFFFFF;
    max-width: 1280PX;
    border-radius: 24PX;

}
.test2{
    width: 744px;
    padding: 56px 0px 56px 48px;
}

.r-img{
    width: 408px;
    margin: 48px 48px 48px 0px;
    border-radius: 24px;
}
.L-btn{
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px ;
    font-weight: bold;
    color: #FFFFFF;
    padding: 13px 26px;
    border: none;
}
.L-btn:hover{
    background-color: #c95c65;
}
.Donate{
    margin: 80px 160px 0px 160px;
    

}
.dhead{
font-size: 40px;
font-weight: bold;
color: #0E0E0E;
text-align: center;
}
.pr-head{
  padding: 0px 104px;
  margin-bottom: 32px;
}
.bhead{
    display: flex;
    gap: 24px;

}
.baby1{
border: 2px solid red;
background-color: #FFFFFF;
padding: 40px;
font-size: 40px;
font-weight: bold;
border-radius: 16px;
text-align: center;
width: 240px;
border: none;

}
.baby2{
    border: 2px solid red;
    background-color:#C6E4D6;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
    text-align: center;
    width: 252px;
    border: none;
}
.baby3{ 
    border: 2px solid red;
    background-color: #FFFFFF;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
    text-align: center;
    width: 243px;
    border: none;

}
.baby4{
    border: 2px solid red;
    background-color: #FFFFFF;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
    text-align: center;
    width: 264px;
    border: none;
}
.bar{
    width: 1032px;
    padding: 20px 40px ;
    color: #857979;
    background-color: #FFFFFF;
    text-align: center;
    margin: 32px 124px 0px 115px;
   align-items: center;
  

}
.pay{
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    width: 151px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 32px 584px 0px 584px;

}
.pay:hover{
    background-color: #ce278e;
}
